@import url('../fontello/css/fontello.css');

/* Mixins --------------------------------------------------------------------*/
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

/* Theme ---------------------------------------------------------------------*/

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  font-family: 'Open Sans', sans-serif

footer
  background-color: #f5f5f5;

.navbar-inverse
  background-color: #3d3d3d
  border-color: #2d2d2d
  .navbar-brand
    font-size: 14px
    text-transform: uppercase
    font-weight: bold
    i
      color: #22c5ac
    .latex
      color: #DDD
    .multi
      color: #22c5ac

.navbar-inverse
  .navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus
    background-color: #22c5ac

.navbar
  min-height: 40px

.nav>li>a, .navbar-brand
  padding: 10px 10px

.navbar-collapse .navbar-nav.navbar-right:last-child
  margin-right: -10px

.navbar-form
  margin: 4px 0 0 0
  .btn
    padding: 5px 10px 4px

.navbar-right.tight li:last-child a
  padding-right: 3px

.navbar-fixed-top
  border-width: 0

.jumbotron
  margin-bottom: 0

.btn
  border-bottom-width: 2px

/* Bootstrap fixes -----------------------------------------------------------*/

body
  padding-top: 40px

.panel-heading
  h1, h2, h3, p
    margin-top: 0
    margin-bottom: 0

code, kbd, pre, samp
  font-family: Monaco,Menlo,Consolas,monospace

.navbar-brand
  .si-ml-square
    display: block
    float: left
    height: 20px
    font-size: 32px
    margin-top: -6px

a.navbar-brand.editor
  padding-left: 0
  padding-right: 0

/* Sticky Footer -------------------------------------------------------------*/

html, body
  height: 100%

.full-container
  display: table
  height: 100%
  width: 100%

.content-block
  display: table-row
  height: auto

footer
  display: table-row
  height: 1px
  .container
    padding: 30px 0
  p:last-child
    margin-bottom: 0

/* Common classes ------------------------------------------------------------*/

.pad-right-5
  padding-right: 5px

.margin-top-15
  margin-top: 15px

.margin-bottom-15
  margin-bottom: 15px

.float-right
  float: right;

.clickable
  cursor: pointer

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

/* Simple form pill ----------------------------------------------------------*/

.form-pill
  h2, .checkbox
    margin-bottom: 10px

  .alert p
    font-size: 18px;

  button.btn
    margin-top: 10px
    margin-bottom: 10px

  input
    position: relative
    font-size: 16px
    height: auto
    padding: 10px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

  input:focus
    z-index: 2

  .list
    input:not(:first-child)
      margin-top: -1px
      border-top-left-radius: 0
      border-top-right-radius: 0
    input:not(:last-child)
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0

.form-pill.centered
  max-width: 400px
  padding: 15px
  margin: 100px auto

/* User info -----------------------------------------------------------------*/

.user-info-column
  .thumbnail
    img
      width: 100%
      max-width: 253px
      margin: 0 auto

/* Project -------------------------------------------------------------------*/

.project-urls
  margin-top: 10px
  margin-bottom: 10px

/* Blog ----------------------------------------------------------------------*/

.blog-side
  .post-link
    border-bottom: 1px solid #ddd
    padding-bottom: 10px
    margin-bottom: 10px
    h4
      margin: 0
    p
      margin: 0
      color: #888
  .well
    margin-top: 30px
    p, h2
      text-align: center
    h2
      margin-top: 0
    img
      display: block
      margin: 0 auto
    p.tagline
      margin-top: 10px
    p:last-child
      margin-bottom: 0

.blog-data
  h1.title
    padding-bottom: 5px
    border-bottom: 1px solid #ddd
    margin-bottom: 5px
  .post
    margin-bottom: 50px
  .date
    color: #888
    margin-bottom: 20px

@media (min-width: 768px)
  .post
    p, li
      font-size: 16px
      max-width: 600px
