.blog-side
  .post-link
    border-bottom 1px solid #ddd
    padding-bottom 10px
    margin-bottom 10px
    h4
      margin 0
    p
      margin 0
      color #888
  .well
    margin-top 30px
    p, h2
      text-align center
    h2
      margin-top 0
    img
      display block
      margin 0 auto
    p.tagline
      margin-top 10px
    p:last-child
      margin-bottom 0

.blog-data
  h1.title
    padding-bottom 5px
    border-bottom 1px solid #ddd
    margin-bottom 5px
  .post
    margin-bottom 50px
  .date
    color #888
    margin-bottom 20px

@media (min-width: 768px)
  .post
    p, li
      font-size 16px
      max-width 600px
