body
  padding-top 40px

.panel-heading
  h1, h2, h3, p
    margin-top 0
    margin-bottom 0

code, kbd, pre, samp
  font-family Monaco,Menlo,Consolas,monospace

.navbar-brand
  .si-ml-square
    display block
    float left
    height 20px
    font-size 32px
    margin-top -6px

a.navbar-brand.editor
  padding-left 0
  padding-right 0
