.explore-thumb
  padding 0
  .top
    background #f4f4f4;
    padding 3px 6px
    font-size 18px
    border-bottom 1px solid #ddd
    margin-bottom 0
  .flip-book
    float right
    visibility hidden
  .inner
    padding 4px 4px 0px 4px
    background-color #eee
    img
      display block
      height auto
      max-width 100%
      margin-right auto
      margin-left auto
      background-color #fff
  .alert
    margin-bottom 0
    padding 10px
  .loc
    font-weight bold
