html, body
  height 100%

.full-container
  display table
  height 100%
  width 100%

.content-block
  display table-row
  height auto

footer
  display table-row
  height 1px
  .container
    padding 30px 0

  p:last-child
    margin-bottom 0
