@media (min-width: 768px)
  .jumbotron iframe
    width auto
    height auto

@media (min-width: 992px)
  .jumbotron iframe
    width 617px
    height 347px

@media (min-width: 1200px)
  .jumbotron iframe
    width 750px
    height 422px
