body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  font-family 'Open Sans', sans-serif

footer
  background-color #f5f5f5;

.navbar-inverse
  background-color #3d3d3d
  border-color #2d2d2d
  .navbar-brand
    font-size 14px
    text-transform uppercase
    font-weight bold
    i
      color #22c5ac
    .latex
      color #DDD
    .multi
      color #22c5ac

.navbar-inverse
  .navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus
    background-color #22c5ac
  .navbar-nav li.active
    a, a:hover
      font-weight bold
      background-color #22c5ac

.navbar
  min-height 40px

.nav>li>a, .navbar-brand
  padding 10px 10px

.navbar-collapse .navbar-nav.navbar-right:last-child
  margin-right -10px

.navbar-form
  margin 4px 0 0 0
  .btn
    padding 5px 10px 4px

.navbar-right.tight li:last-child a
  padding-right 3px

.navbar-fixed-top
  border-width 0

.navbar-toggle
  margin-top 2px
  margin-bottom 2px

.jumbotron
  margin-bottom 0

.btn
  border-bottom-width 2px

.input-group-btn
  .btn
    border-bottom-width 1px
