.user-info-column
  .thumbnail
    img
      width 100%
      max-width 253px
      margin 0 auto

.latest-projects, .recent-activity
  .panel-body
    padding 0
    p
      border-bottom 1px solid #ddd
      margin 0
      padding 8px 15px
    p:last-child
      border-bottom 0

.user-short-info
  // Make it look like more of an alert than a well.
  box-shadow none
  -webkit-box-shadow none
  padding 5px

  img
    width 48px
    height 48px
    margin-right 10px
  h3
    margin 0
