# Editor and OS things.
*~
.*.sw[op]
.DS_Store
.idea

# Node.
node_modules

# Blog generated stuff.
/data/blog
/static/blog

# Exclude templates
/data/templates
!/data/templates/stylish-article

# Things which are compiled there.
/static/js/editor.js
/static/css

# Use your own secret.
/config/secret.json
