@import '../site/mixins'

.notif
  margin 3px
  padding 3px 5px
  background-color #eee
  border-radius 3px
  font-size 13px
  p
    margin 0

  .date
    float left
    color #8a8a8a
    margin-right 5px
