@import '../site/mixins'

.notif-view
  position relative
  padding-bottom 51px
  textarea.msg
    position absolute
    bottom 0
    display block
    height 50px
    width 100%
    overflow auto
    resize none
    border 0
    border-top 1px solid #888
    background #e3e3e3
    outline none
    font-size 13px
    padding 2px 4px
.notif-view > div
  height 100%
  overflow auto

.notif
  margin 3px
  padding 3px 5px
  background-color #e3e3e3
  border-radius 3px
  font-size 13px
  p
    margin 0

  .date
    float left
    color #8a8a8a
    margin-right 5px
