extends layout

block head
  link(rel='stylesheet', href='/s/jslibs/jquery.fileupload.css')

block content
  .container
    h2= title

    .row
      .col-md-9
        ul.nav.nav-tabs.margin-bottom-15#tabs-ul

        #new(display='none')
          p Create an empty project.
          form.form-create
            .alert.alert-danger(style='display: none') <p></p>
            .form-group
              input.location.form-control(type='text', placeholder='Project location', autofocus)
            button.btn.btn-success(type='submit') Create

        #upload(display='none')
          p Upload a ZIP file containing the project.
          p
            span.btn.btn-success.fileinput-button
              i.glyphicon.glyphicon-plus
                span Select ZIP...
                input#fileupload(type='file', name='files[]', multiple='multiple')
          #progress.progress
            .progress-bar.progress-bar-success

      .col-md-3
        .panel.panel-default
          .panel-heading
            p <i class='glyphicon glyphicon-inbox'></i> Fork
          .panel-body
            p If you want to start with a template or ready made project you can
              | fork them.
            a(href='/explore?user=templates').btn.btn-primary.btn-block Browse Templates
            a(href='/explore').btn.btn-default.btn-block Browse Galery

    script(type='text/template', id='sub-tab-template').
      <a href='javascript:void(0)'>
        <i class='glyphicon glyphicon-<%= icon %>'></i> <%= title %>
      </a>

    script(type='text/template', id='alert-template').
      <div class='alert alert-danger'>
        <% if (typeof text === 'string') { %>
          <p>There was an error: <%- text %>.</p>
        <% } else { %>
          <p>There was an error:</p>
          <code><%- JSON.stringify(text) %></code>
        <% } %>
      </div>

block scripts
  script(src='/s/jslibs/jquery.ui.widget.js')
  script(src='/s/jslibs/jquery.iframe-transport.js')
  script(src='/s/jslibs/jquery.fileupload.js')
  script(src='/s/js/create.js')
