extends editorLayout

block head
  link(rel='stylesheet', href='/s/css/editor.css')

block content
  div#workspace

block scripts
  script(src='/s/ace-builds/src-min-noconflict/ace.js')
  script(src='/s/editor/util.js')
  script(src='/s/editor/Menu.js')
  script(src='/s/editor/TreeViewContainer.js')
  script(src='/s/editor/TreeViewItem.js')
  script(src='/s/editor/TreeView.js')
  script(src='/s/editor/ProjectView.js')
  script(src='/s/editor/EditorView.js')
  script(src='/s/editor/OutputView.js')
  script(src='/s/editor/Positioning.js')
  script(src='/s/editor/Vert3PaneView.js')
  script(src='/s/editor/VertSepView.js')
  script(src='/s/editor/Gui.js')
  script(src='/s/editor/App.js')
  script(src='/s/editor/main.js')
  script.
    main(!{JSON.stringify(project._id)});
