extends editorLayout

block content
  div#workspace

block scripts
  script(src='/static/ace-builds/src-min-noconflict/ace.js')
  script(src='/static/editor/util.js')
  script(src='/static/editor/Menu.js')
  script(src='/static/editor/TreeViewContainer.js')
  script(src='/static/editor/TreeViewItem.js')
  script(src='/static/editor/TreeView.js')
  script(src='/static/editor/ProjectView.js')
  script(src='/static/editor/EditorView.js')
  script(src='/static/editor/OutputView.js')
  script(src='/static/editor/Workspace.js')
  script(src='/static/editor/Gui.js')
  script(src='/static/editor/App.js')
  script(src='/static/editor/main.js')
  script.
    main(!{JSON.stringify(project._id)});
