doctype 5
html(lang='en')
  block variables
  head
    meta(charset='utf-8')
    - var pageTitle = title || 'Multilatex'
    title= pageTitle
    link(rel='stylesheet', href='/s/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/s/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='/s/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', sizes='57x57', href='/s/favicon57.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/s/favicon152.png')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700')
    block head
  body
    .navbar.navbar-inverse.navbar-fixed-top
      a.navbar-brand.editor(href='/') <i class='si-ml-square'></i>
      ul.nav.navbar-nav#menu
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')#project-menu
            <i class="glyphicon glyphicon-folder-open"></i>
          ul.dropdown-menu
            li
              a(href='#') Manage access
            li.divider
            li
              a(href='#') Download project
            li
              a(href='#') Download PDF
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')#editor-menu
            <i class="glyphicon glyphicon-align-left"></i>
          ul.dropdown-menu
            li
              a(href='#') Theme
            li
              a(href='#') ...
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.glyphicon.glyphicon-user.white
            |  
            | #{session.username}
            b.caret
          ul.dropdown-menu
            li
              a(href='/#{session.username}') Overview
            li
              a(href='/#{session.username}?tab=projects') Projects
            li.divider
            li
              a.clickable.btn-logout Logout
            
    block content

    script(src='//code.jquery.com/jquery-1.10.2.min.js')
    script(src='/s/bootstrap/js/bootstrap.min.js')

    if session.username
      script(src='/s/js/generalLoggedUser.js')
    
    block scripts

    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-46315341-1']);
      _gaq.push(['_setDomainName', 'multilatex.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    script.
      var menus = [
        ['#project-menu', 'Project'],
        ['#editor-menu', 'Editor']
      ];
      for (var i = 0, len = menus.length; i < len; i++) {
        var menu = menus[i];
        var elem = $(menu[0]);
        elem.tooltip({title: menu[1], placement: 'right'});
      }