extends editorLayout

block head
  link(rel='stylesheet', href='/s/css/editor.css')

block content
  div#workspace

block scripts
  script(src='/s/ace-builds/src-min-noconflict/ace.js')
  script(src='/s/share/bcsocket.js')
  script(src='/s/share/share.uncompressed.js')
  script(src='/s/share/share-ace.js')

  script(src='/s/pdfjs/pdf.js')
  script(src='/s/pdfjs/pdf_find_bar.js')
  script(src='/s/pdfjs/pdf_find_controller.js')
  script(src='/s/pdfjs/ui_utils.js')
  script(src='/s/pdfjs/text_layer_builder.js')

  script(src='/s/js/editor.js')
  script.
    main(!{JSON.stringify(project._id)});
