include mixins/project

extends layout

mixin pager(projects, prevPage, nextPage)
  ul.pager
    li(class='previous' + (prevPage ? '' : ' disabled'))
      a(href=prevPage)
        i(class='glyphicon glyphicon-arrow-left')
        = ' Newer'
    li(class='next' + (nextPage ? '' : ' disabled'))
      a(href=nextPage)
        = 'Older '
        i(class='glyphicon glyphicon-arrow-right')

block content
  .container
    +pager(projects, prevPage, nextPage)

    +listProjects(projects, true)

    +pager(projects, prevPage, nextPage)

block scripts
  script(src='/s/jslibs/turn.min.js')
  script(src='/s/js/thumbs.js')
