extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-8
          h1 Edit LaTeX Online
          p A collaborative online editor for LaTeX projects.
          .col-md-8
            img(src='/static/images/screenshot.png').img-responsive
        .col-md-4
          form.form-pill
            h2 Quick sign up
            .list
              input.username.form-control(type='text', placeholder='Username', required='required', autofocus='autofocus')
              input.password.form-control(type='password', placeholder='Password', required='required')
            button.btn.btn-lg.btn-success.btn-block(type='button') Start editing now
