extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-8
          h1 Edit LaTeX Online
          p A collaborative online editor for LaTeX projects.
          iframe(src="//www.youtube.com/embed/8zAGN35_GpY", frameborder="0",
              allowfullscreen)
        .col-md-4
          if !session.username
            form.form-pill.form-quick-register
              h2 Quick sign up
              .alert.alert-danger(style='display: none') <p></p>
              .list
                input.username.form-control(type='text', placeholder='Username', required='required', autofocus='autofocus')
                input.password.form-control(type='password', placeholder='Password', required='required')
                input.password2.form-control(type='password', placeholder='Confirm password', required='required')
              button.btn.btn-lg.btn-success.btn-block(type='submit') Start editing now

block scripts
  script(src='/s/js/register.js')
