doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/static/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    block head
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Multilatex
        .navbar-collapse.collapse
          if session.username
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.glyphicon.glyphicon-user.white
                  |  
                  | #{session.username}
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/#{session.username}') Overview
                  li
                    a(href='/#{session.username}?tab=projects') Projects
                  li.divider
                  li
                    a.clickable.btn-logout Logout
          else
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/register') Register
              li
                a(href='/login') Login

    block content

    .container
      hr
      footer
        p.left-links <a href='http://creativecommons.org/licenses/by-nc-sa/4.0/'>(CC)</a>
          | 2013, <a href='http://nechifor.net'>Paul Nechifor</a>,
          | <a href='http://www.infoiasi.ro/bin/Main/'>FCS</a>
          
        p.right-links <a href='/blog'>Blog</a>

    script(src='//code.jquery.com/jquery-1.10.2.min.js')
    script(src='/static/bootstrap/js/bootstrap.min.js')

    if session.username
      script(src='/static/javascripts/generalLoggedUser.js')
    
    block scripts
