block variables
  title = p.username + '/' + p.location
extends project

block content2
  .row
    .col-md-4.project-info-column
      .thumbnail
        img(src='#{storeUrl(c.thumbs[0])}', alt="#{p.username} #{p.location}")
    .col-md-8
