include mixins/project
include mixins/user

block variables
  title = user.username + "'s projects"

extends username

block content2
  +userShortInfo(user)

  +listProjects(projects, false)

block scripts
  script(src='/s/jslibs/turn.min.js')
  script(src='/s/js/thumbs.js')
