block variables
  title = user.username + "'s projects"
extends username

block content2
  for project in projects
    h3
      a(href='/#{project.username}/#{project.location}')= project.location
    hr
