block variables
  title = user.username
extends username

block content2
  .row
    .col-md-6
      .panel.panel-default.latest-projects
        .panel-heading
          p
            i.glyphicon.glyphicon-plus-sign
            | 
            | Latest projects
        .panel-body
          if projects.length === 0
            p ...
          else
            for project in projects
              p
                a(href='/#{project.username}/#{project.location}')= project.location

    .col-md-6
      .panel.panel-default.recent-activity
        .panel-heading
          p
            i.glyphicon.glyphicon-inbox
            | 
            | Recent activity
        .panel-body
          p ...
