extends layout

block content
  .container.margin-top-15
    .nav.nav-tabs.margin-bottom-15
      for tab in tabs
        li(class='#{tab[0] === activeTab ? "active" : ""}')
          a(href='#{ tab[2] ? tab[2] : user.username }')
            <i class='glyphicon glyphicon-#{tab[3]}'></i> #{tab[1]}
    block content2

