extends username

block content2
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          p
            i.glyphicon.glyphicon-plus-sign
            | 
            | Popular projects
        .panel-body
          p ...

    .col-md-6
      .panel.panel-default
        .panel-heading
          p
            i.glyphicon.glyphicon-inbox
            | 
            | Recent activity
        .panel-body
          p ...
