body {
  padding-top: 40px;
}
/* Bootstrap fixes -----------------------------------------------------------*/
.panel-heading h1,
.panel-heading h2,
.panel-heading h3 {
  margin-top: 0;
  margin-bottom: 0;
}
/* Common classes ------------------------------------------------------------*/
.pad-right-5 {
  padding-right: 5px;
}
.white {
  color: #fff;
}
/* Login form  ---------------------------------------------------------------*/
.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signup .form-signup-heading,
.form-signup .checkbox {
  margin-bottom: 10px;
}
.form-signup .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signup .form-control:focus {
  z-index: 2;
}
.form-signup input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
