@import url('../fontello/css/fontello.css');

/* Bootstrap fixes -----------------------------------------------------------*/

body
  padding-top: 50px

.panel-heading
  h1, h2, h3, p
    margin-top: 0
    margin-bottom: 0

code, kbd, pre, samp
  font-family: Monaco,Menlo,Consolas,monospace

.navbar-brand
  .si-ml-square
    display: block
    float: left
    height: 20px
    font-size: 32px
    margin-top: -4px

/* Common classes ------------------------------------------------------------*/

.pad-right-5
  padding-right: 5px

.margin-top-15
  margin-top: 15px

.margin-bottom-15
  margin-bottom: 15px

.float-right
  float: right;

.white
  color: #fff

.clickable
  cursor: pointer

/* Simple form pill ----------------------------------------------------------*/

.form-pill
  h2, .checkbox
    margin-bottom: 10px

  .alert p
    font-size: 18px;

  button.btn
    margin-top: 10px
    margin-bottom: 10px

  input
    position: relative
    font-size: 16px
    height: auto
    padding: 10px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

  input:focus
    z-index: 2

  .list
    input:not(:first-child)
      margin-top: -1px
      border-top-left-radius: 0
      border-top-right-radius: 0
    input:not(:last-child)
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0

.form-pill.centered
  max-width: 400px
  padding: 15px
  margin: 100px auto

/* User info -----------------------------------------------------------------*/
.user-info-column
  .thumbnail
    img
      width: 100%
      max-width: 253px
      margin: 0 auto

/* Project -------------------------------------------------------------------*/

.project-urls
  margin-top: 10px
  margin-bottom: 10px

/* Blog ----------------------------------------------------------------------*/

.blog-side
  .post-link
    border-bottom: 1px solid #ddd
    padding-bottom: 10px
    margin-bottom: 10px
    h4
      margin: 0
    p
      margin: 0
      color: #888
  .well
    margin-top: 30px
    p, h2
      text-align: center
    h2
      margin-top: 0
    img
      display: block
      margin: 0 auto
    p.tagline
      margin-top: 10px
    p:last-child
      margin-bottom: 0

.blog-data
  h1.title
    padding-bottom: 5px
    border-bottom: 1px solid #ddd
    margin-bottom: 5px
  .post
    margin-bottom: 50px
  .date
    color: #888
    margin-bottom: 20px

@media (min-width: 768px)
  .post
    p, li
      font-size: 16px
      max-width: 600px